@font-face {
    font-family: 'Honk';
    src: url('../../fonts/Honk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container{
    position: sticky;
    top: 0;
    padding-top: 0.5rem;
    transition: 0.5s;
    border-radius: 2rem;
    z-index: 100;
}
  
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 2rem;
    border-radius: 2rem;
}

.navbarScroll{
    .navbar{
        background-color: var(--navbg);
        transition: ease-in-out 0.5s;
    }
}

.logo{
    font-family: "Honk", sans-serif;
    font-size: 3rem;
    a{
        text-decoration: none;
    }
}


.links{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;

    a{
        color: var(--text);
        font-weight: 500;
        text-decoration: none;
    }

    .userBtn{
        background: transparent;
        border: none;
        cursor: pointer;

        .user{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .login{
                font-size: 0.7rem;
            }
        }
    }

    
}


 /* css breakpoints */
@media(max-width: 1536px){

}
  
@media(max-width: 1366px){
    .logo{
        font-size: 2rem;
    }

    .links{
        font-size: 1.3rem;;
    }
}
  
@media(max-width: 1280px){
   .logo{
       font-size: 1.8rem;
    }

    .links{
        font-size: 1.2rem;
    }
}
  
@media(max-width: 1024px){
    .logo{
       font-size: 1.6rem;
    }

    .links{
        font-size: 1rem;
    }
}

@media (min-width: 768px){
    .menu_button{
        display: none;
    }
}
  
@media(max-width: 768px){
    .logo{
        font-size: 1.6rem;
    }

    .menu_button{
        display: block;
        cursor: pointer;
        transition: ease-in-out 1s; 
    }

    .mobile_links{
        font-size: 0.9rem;
        border-radius: 25px;
        background-color: var(--navbg);
        position: absolute;
        top: 90px;
        right: 0;
        width: 50%;
        height: calc(100dvh - 110px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: ease-in-out 0.5s;
    }

    .mobile_links a{
        color: var(--text);
        text-decoration: none;
    }

    .userBtn{
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--text);
    }

    .links{
        display: none;
    }

    .icon{
        margin-right: 0.5rem;
    }
}
  
@media(max-width: 640px){
    
}
  
@media(max-width: 475px){
   
}