.carousel{
    // width: 70vw;
    align-items: center;
    margin: auto;
}

.img{
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    // aspect-ratio:3/1  auto;
    // height: 40vh;
}

/* CSS breakpoints*/

// @media(max-width: 768px){
//     .carousel{
//         width: 80vw;
//     }
// }
  
// @media(max-width: 640px){
//     .carousel{
//         width: 90vw;
//     }
// }
  
