.carousel{
    align-items: center;
    margin: auto;
}

.img{
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}
  
/*CSS breakpoints*/

@media(max-width: 475px){
    .img{
        height: 250px;
    }
}
  
