
.button{
    width: 100%;
    height: 4rem;
    padding: 0.8rem;
    border: none;
    background-color: var(--btn);
    color: var(--opptext);
    border-radius: 0.4rem;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.description{
    font-size: 1.25rem;
}

.anotherAcc{
    text-align: center;
    font-size: 1.2rem;
    color: var(--btn);
    cursor: pointer;
    padding-bottom: 1rem;
}

.formGroup{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    .label{
        color: var(--lighttext);
        font-size: 1.25rem;
        padding-bottom: 0.3rem;
    }

    .error{
        font-size: 1rem;
        color: red; 
    }

    input{
        background: white;
        border: 1px solid var(--border);
        font-size: 1.25rem;
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
    }

    input[type=file]{
        border: none;
    }

    select{
        background: white;
        border: 1px solid var(--border);
        font-size: 1.25rem;
        height: 3rem;
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
    }

}

/*CSS breakpoints*/

@media(max-width: 768px){   
    .button{
        height: 3rem;
        padding: 0.6rem;
        font-size: 1rem;
        margin-top: 0.8rem;
        margin-bottom: 1.5rem;
    }
    
    .description{
        font-size: 1rem;
    }
    
    .anotherAcc{
        font-size: 1rem;
        padding-bottom: 0.8rem;
    }
    
    .formGroup{
        margin: 1rem 0;
    
        .label{
            font-size: 1.2rem;
            padding-bottom: 0.3rem;
        }

        .error{
            font-size: 0.8rem;
        }
    
        input{
            font-size: 1.2rem;
            height: 3rem;
            padding-left: 0.5rem;
        }

        select{
            font-size: 1.2rem;
            height: 3rem;
        }
    }
}

@media(max-width: 640px){
    .button{
        height: 2.5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
        margin-top: 0.6rem;
        margin-bottom: 1.2rem;
    }
    
    .description{
        font-size: .8rem;
    }
    
    .anotherAcc{
        font-size: 0.8rem;
        padding-bottom: 0.8rem;
    }
    
    .formGroup{
        margin: 0.7rem 0;
    
        .label{
            font-size: 1rem;
            padding-bottom: 0.3rem;
        }

        .error{
            font-size: 0.7rem;
        }
    
        input{
            font-size: 1rem;
            height: 2.5rem;
            padding-left: 0.5rem;
        }

        select{
            font-size: 1rem;
            height: 2.5rem;
        }
    }
}

@media(max-width: 475px){
    .button{
        height: 3rem;
        padding: 0.5rem;
        font-size: .7rem;
        margin-top: 0.8rem;
        margin-bottom: 1.5rem;
    }
    
    .description{
        font-size: 0.7rem;
    }
    
    .anotherAcc{
        font-size: 0.7rem;
        padding-bottom: 0.5rem;
    }
    
    .formGroup{
        margin: 0.5rem 0;
    
        .label{
            font-size: 0.8rem;
            padding-bottom: 0.1rem;
        }

        .error{
            font-size: 0.6rem;
        }
    
        input{
            font-size: 0.8rem;
            height: 2rem;
            padding-left: 0.5rem;
        }

        select{
            font-size: 0.8rem;
            height: 2rem;
        }
    }
}
