@mixin alignment($fzi: 1.25rem, $fzl: 1.2rem){
    margin: 1rem 0;


    .label{
        color: var(--lighttext);
        font-size: $fzl;
        padding-bottom: 0.3rem;
        align-content: center;
    }

    .labelGroup{
        display: flex;
    }

    input{
        background: white;
        border: 1px solid var(--border);
        font-size: $fzi;
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        padding-left: 0.5rem;
    }
}


.container{
    display: flex;
    flex-direction: column;
    text-align: center;

    .heading{
        font-size: 2.7rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .fancy{
        position: relative;
        white-space: nowrap;
        &:after {
            --deco-height: 0.3125em;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: calc(var(--deco-height) * -0.5);
            height: var(--deco-height);
            background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
            background-size: auto 100%;
            background-repeat: round;
            background-position: 0em;
        }
    }

    .formGroup{
        @include alignment();

        .error{
            font-size: 1rem;
            color: red;
        }


    }

    .button{
        height: 3.5rem;
        padding: 0.8rem;
        border: none;
        background-color: var(--btn);
        color: var(--opptext);
        border-radius: 0.4rem;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .chat{
        text-align: start;
        background-color: var(--bg);
        border-radius: 1rem;
        box-shadow: 0 0 8px #ddd;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .filter{
        margin-bottom: 1rem;
        .label{
            color: var(--lighttext);
            font-size: 1.2rem;
            padding-bottom: 0.3rem;
            align-content: center;
            margin-right: 0.2rem;
        }

        .filterInput{
            background: white;
            border: 1px solid var(--border);
            font-size: 1.25rem;
            height: 2.5rem;
            border-radius: 0.5rem;
            padding-left: 0.5rem;
        }
    }
    
}