.container{
    display: grid;
    grid-template-columns: repeat(3, 240px);
    gap: 1.5rem;
    padding: 0.5rem 0 1rem;

    .heading{
        font-size: 1.1rem;
        margin: 1rem 0 0 0.5rem
    }

    .icon{
        margin-bottom:0.5rem
    }
}

.problem{
    color: red;
    font-size: 1rem;
}

/*CSS breakpoints*/

@media(max-width: 1024px){
    .container{ 
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 768px){   
    .container{
        grid-template-columns: repeat(2, 1fr);

        .heading{
            font-size: 1.2rem;
        }
    }
}

@media(max-width: 640px){
    .container{
        .heading{
            font-size: 1.05rem;
        }
    }
}

@media(max-width: 475px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}



