.map{
    width: 100%;
    height: 100vh;
}


/*CSS breakpoints*/

@media(max-width: 768px){
    .map{
        height: 100vw;
    }
}

// @media(max-width: 640px){
//     .map{

//     }
// }

// @media(max-width: 475px){
//     .map{
//         height:100vw;
//     }
// }




